<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
  <p class="h3">TASKS</p>
  <ul class="list-group p-2 gap-1 list-unstyled">
  <%  @tasks.each do |task|   %>
  <li class="list-group-item d-flex flex-row justify-content-between gap-4"> <%= check_box("task", task.id, {checked: (task.completed)}) %> <%= link_to task.title, task_path(task.id) %> <%= link_to delete_task_path(task.id),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can"></i></li>
    <% end %>
  <% end %>
  </ul>

  <button class="btn btn-outline-primary"><%= link_to "Create New Task", new_path %></button>

</div>
